.main {
    visibility: hidden;
}

.sliderControl {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 95dvw;
    padding: 5dvh 2.5dvw;
}
.bar {
    width: 200px;
    height: 24px;
    border: 1px solid var(--color-dark);
    border-radius: 2.5dvh;
    z-index: 1;
    position: relative;
}
.slider {
    width: 20px;
    height: 20px;
    margin: 2px;
    /* left: 100%; */
    position: absolute;
    border-radius: 2.5dvw;
    background-color: var(--color-dark);
    z-index: 2;
}

.testimonial div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* gap: 5dvh; */
}

.testimonials {
    display: flex;
    flex-direction: row;
    flex-shrink: none;
    /* width: 95dvw; */
    
    gap: 5dvw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.testimonial {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* gap: 2.5dvh; */
    width: 95dvw;
    padding: 5dvh 2.5dvw;
    scroll-snap-align: start;
}

.testimonial div p {
    font-family: var(--montreal-bold);
}

@media screen and (min-width: 768px) {
    .sliderControl {
        width: 90dvw;
        padding: 5dvh 5dvw;
        justify-content: flex-start;
        gap: 5dvw;
    }
    .bar {
        width: 200px;
    }
    .testimonial div {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .testimonial div h1 {
        width: 70%;
    }
    .article div p {
        width: 30%;
    }
    .testimonials {
        flex-direction: row;
        /* gap: 5dvh; */
    }
    .testimonial {
        width: 50dvw;
        padding: 5dvh 5dvw;
        /* gap: 1dvh; */
    }
    
}