@font-face {
    font-family: 'Montreal-Regular';
    src: url('./fonts/PPNeueMontreal-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Montreal-Bold';
    src: url('./fonts/PPNeueMontreal-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Montreal-Light';
    src: url('./fonts/PPNeueMontreal-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Montreal-Italic';
    src: url('./fonts/PPNeueMontreal-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Eiko';
    src: url('./fonts/PPEiko-LightItalic.woff2') format('woff2');
}

:root {
    --montreal-regular: 'Montreal-Regular';
    --montreal-bold: 'Montreal-Bold';
    --montreal-light: 'Montreal-Light';
    --montreal-italic: 'Montreal-Italic';
    --eiko: 'Eiko';
}

html, body {
    margin: 0;
    padding: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    box-sizing: border-box;
}

header {
    position: sticky;
    display: flex;
    justify-content: center;
    font-family: var(--montreal-light);
    font-size: 16px;
    background-color: white;
    padding: 10px
}

h1 {
    font-family: var(--eiko);
    font-size: 24px;
    margin-top: 0;
}

p {

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }

  p {

  }
  header {
    display: none;
  }
}