@font-face {
    font-family: 'Montreal-Regular';
    src: url('./fonts/PPNeueMontreal-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Montreal-Bold';
    src: url('./fonts/PPNeueMontreal-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Montreal-Light';
    src: url('./fonts/PPNeueMontreal-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Montreal-Italic';
    src: url('./fonts/PPNeueMontreal-Italic.woff2') format('woff2');
}
@font-face {
    font-family: 'Eiko';
    src: url('./fonts/PPEiko-LightItalic.woff2') format('woff2');
}

:root {
    --montreal-regular: 'Montreal-Regular';
    --montreal-bold: 'Montreal-Bold';
    --montreal-light: 'Montreal-Light';
    --montreal-italic: 'Montreal-Italic';
    --eiko: 'Eiko';
    --color-dark: black;
    --color-light: white;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    min-width: 100dvw;
    min-height: 100dvh;
    box-sizing: border-box;
}

header {
    /* position: sticky; */
    display: flex;
    justify-content: center;
    font-family: var(--montreal-light);
    font-size: 16px;
    background-color: var(--color-light);
    padding: 10px
}

h1 {
    font-family: var(--eiko);
    font-weight: lighter;
    font-size: 24px;
    margin: 0;
    color: var(--color-dark);
}

h2 {
    font-family: var(--montreal-bold);
    font-size: 16px;
    margin: 0;
    color: var(--color-dark);
}

p {
    font-family: var(--montreal-regular);
    font-size: 14px;
    margin-top: 0;
    color: var(--color-dark);
}

hr {
    height: 1px;
    width: 100%;
    background-color: var(--color-dark);
    border: 0;
    margin: 5px 0 25px 0;
}

menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: circle;
}

li {
    font-family: var(--montreal-regular);
    font-size: 14px;
    margin: 0;
    color: var(--color-dark);
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  li {
    font-size: 16px;
  }
  header {
    display: none;
  }
}