.nav {
    display: none;
}

.subNav {
    
}

.navLink {
    font-family: var(--montreal-regular);
    font-size: 16px;
}
.navLinkActive {
    font-family: var(--montreal-bold);
    font-size: 16px;
}

.menuButton {
    position: fixed;
    bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px, 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 2.5dvh 1.5dvw;
    }

    .subNav {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .menuButton {
        display: none;
    }
}